@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@{ Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }*@
<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <p class="h1 col-6">Register</p>
            </div>
        </div>
    </div>
    <form id="formRegister" name="formregis">
        <br>
        <label for="inputFirstName">First name</label>
        <div class="col-8">
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">EMP</div>
                </div>
                <input type="text" onkeypress="return onlyNumberKey(event)" class="form-control" id="inputuserId" placeholder="Employee ID" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="inputFirstName">First name</label>
                <input type="text" name="FName" class="form-control" id="inputFirstName" placeholder="First name" required>

            </div>

            <div class="col-md-4 mb-3">
                <label for="inputLastName">Last name</label>
                <input type="text" name="LName" class="form-control" id="inputLastName" placeholder="Last name" required>

            </div>

        </div>

        <div class="form-row">
            <div class="col-8">
                <label for="inputPhone">Phone</label>
                <input type="text" name="Phone" class="form-control" id="inputPhone" placeholder="Phone" required>

            </div>
        </div>
        <div class="form-row">
            <div class="col-8">
                <label for="inputBirthDate">Birth Date</label>
                <input type="datetime" name="BDate" class="form-control" id="inputBirthDate" placeholder="Birth Date" value="1997-07-20" required>

            </div>
        </div>

        <div class="form-group">
            <div class="col-8">
                <label for="inputGender">Choose your Gender:</label>
                <select id="inputGender" name="inputGenderName" class="form-control">
                    <option value="0">Male</option>
                    <option value="1">Female</option>

                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-8">
                <label for="inputSalary">Salary</label>
                <input type="number" name="salary" class="form-control" id="inputSalary" placeholder="Salary" required>

            </div>
        </div>

        <div class="form-row">
            <div class="col-8">
                <label for="inputEmail">Email</label>
                <input type="text" name="email" class="form-control" id="inputEmail" placeholder="Email" required>

            </div>
        </div>

        <div class="form-row">
            <div class="col-8">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>

            </div>
        </div>
        @*<div class="form-group">
            <div class="col-8">
                <label for="inputGender">Division</label>
                <select id="inputGender" name="inputGenderName" class="form-control">
                    <option value="0">Male</option>
                    <option value="1">Female</option>

                </select>
            </div>
        </div>*@
        <br>
        <button id="registerBtn" type="button" class="btn btn-primary">Register</button>
    </form>
</div>