@{
    Layout = "~/Views/Shared/Template/_Layout.cshtml";
}

<div id="request" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                @*<div class="col-md-6 mb-3">

                    </div>*@
                <div class="col-xl-4 order-xl-2">
                    <div class="card">
                        <div class="card-header">
                            <div class="request-form">
                                <div class="form-header">
                                    <h1>Make your request</h1>
                                </div>
                                <form class="needs-validation" id="formRequest" novalidate>
                                    <div class="form-row">
                                        @{ var iden = User.Identity.IsAuthenticated; }
                                        @if (iden)
                                        {
                                            <div class="col-md mb-3">
                                                <input type="text" readonly class="form-control" id="userid" value="@ViewBag.UserId" autocomplete="off" required>
                                            </div>
                                        }
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md mb-3">
                                            <label for="jobtask">Job Task</label>
                                            <input type="text" class="form-control" id="jobtask" placeholder="your job task" autocomplete="off" required>
                                            <div class="invalid-feedback">
                                                Please provide a valid job task.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md mb-3">
                                            <label for="date">Date Overtime</label>
                                            <div class="input-group date">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                <input class="form-control datepicker" placeholder="Select date" type="text" id="dateOvertime" autocomplete="off" required>
                                                <div class="invalid-feedback">
                                                    Please provide a valid date overtime.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="starttime">Start Time</label>
                                            <input type="time" class="form-control" id="startTime" required>
                                            <div class="invalid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="endtime">End Time</label>
                                            <input type="time" class="form-control" id="endTime" required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md mb-3">
                                            <label for="desc">Description</label>
                                            <textarea id="desc" required="required" class="form-control" name="desc"></textarea>
                                            <div class="invalid-feedback">
                                                Please provide a valid job description.
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary" id="btnSubmit" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-2">
                    <div class="card">
                        <div class="card-header">
                            <div class="table-wrap">
                                <table class="table myaccordion table-hover" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" id="checkBoxAll" class="custom-checkbox" />
                                            </th>
                                            <th>No.</th>
                                            <th>RequestId</th>
                                            <th>JobTask</th>
                                            <th>Date Overtime</th>
                                            <th>Time</th>
                                            <th>Desc</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" value="Delete" 
                                    class="btn btn-sm btn-danger rounded-0">
                            Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/UserRequest.js"></script>

}
