@{
    Layout = "~/Views/Shared/Template/_Layout.cshtml";
}
<script>
    var userId = '@ViewBag.UserId';
</script>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <p class="h1 col-8">Status Request</p>
            </div>
        </div>
        <div class="card-body">
            <table id="tableStatus" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Request Id</th>
                        <th>Full Name</th>
                        <th>RequestDate</th>
                        <th>SalaryOvertime</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/UserRequest.js"></script>
}